<!-- /discuss_forum/templates/forum_index.html -->
{% extends "base.html" %}

{% block page_content%}
    <div class="container">
        <!--breadcrumb -->
        <div class="navigate">
            <span><a href="{% url 'homepage' %}">auto.heff.world - Forums</a> >> <a href="{{discuss_forum.get_url}}">{{forum.title}}</a></span>
        </div>
    </div>
    {% if categories %}
        {% for category in categories %}
            {% include 'category.html' %}
        {% endfor %}
    {% else %}
        <h2>Forum Categories Not Created</h2>
        <a href="{% url 'create_forum_topic' %}">Add a category</a>
    {% endif %}
    {% if user.is_authenticated %}
        <div id="mark-all-as-read">
            <a href="{% url 'forum_latest_posts' %}">Latest Updates</a> /
            <a href="{% url 'forum_search' %}">Mark all as read</a>
        </div>
    {% endif %}

{% endblock %}